/* /////////////////page 1//////////////////// */
.page1 {
    background-color: #d8d8d8;
    height: 600px;
}


.h1 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page1dark {
    height: 600px;
    background-color: #212121;
    color: #d8d8d8;

}

.bounce-in-top {
    -webkit-animation: bounce-in-top 1.2s both;
    animation: bounce-in-top 1.2s both;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/* //////////////////////button css///////////////////// */
.buttonn {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}


.buttonn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.buttonn:hover {
    color: #e8e8e8;
}

.buttonn:hover::before {
    width: 100%;
}

/* /////////////////madia ///////////////// */
@media only screen and (max-width: 1300px) {

    .page1 {
        background-color: #d8d8d8;
        height: 800px;
    }

    .spicial {
        margin-top: 100px;
    }

    .bgc {
        height: 700px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1426' height='560' preserveAspectRatio='none' viewBox='0 0 1426 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3crect width='1426' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1179.05 421.44 a24.15 24.15 0 1 0 48.3 0 a24.15 24.15 0 1 0 -48.3 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1099.3 163.46L1148.71 163.46L1148.71 212.87L1099.3 212.87z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1028.05 486.59 a42.58 42.58 0 1 0 85.16 0 a42.58 42.58 0 1 0 -85.16 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M407.33 513.28a36.07 36.07 0 1 0-48.21-53.67z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M432.35 345.47 a53.76 53.76 0 1 0 107.52 0 a53.76 53.76 0 1 0 -107.52 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1231.92 370.34L1249.77 370.34L1249.77 388.19L1231.92 388.19z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M197.98 22.11a19.58 19.58 0 1 0 17.84-34.86z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M588.97 206.38 a2.07 2.07 0 1 0 4.14 0 a2.07 2.07 0 1 0 -4.14 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1234.59 149.72L1261.48 149.72L1261.48 172.19L1234.59 172.19z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1096.44 345.57a6.12 6.12 0 1 0-11.19 4.94z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M212.99 54.46a33.83 33.83 0 1 0-54.39-40.24z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1030.16 18.5L1059.24 18.5L1059.24 24.09L1030.16 24.09z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1156.43 385.02L1201.18 385.02L1201.18 408.64L1156.43 408.64z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M116.27 305.97L168.96 305.97L168.96 358.66L116.27 358.66z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M410.04 285.26L410.94 285.26L410.94 286.16L410.04 286.16z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M558.93 189.37L560.05 189.37L560.05 207.88L558.93 207.88z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M180.11 31L230.03 31L230.03 51.66L180.11 51.66z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M703.17 493.46L746.03 493.46L746.03 508.24L703.17 508.24z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1349.73 164.34L1352.23 164.34L1352.23 172.34L1349.73 172.34z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M49.07 469.55a0.22 0.22 0 1 0 0.44 0.02z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M412.52 534.97L426.48 534.97L426.48 548.93L412.52 548.93z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M717.05 402.08 a5.97 5.97 0 1 0 11.94 0 a5.97 5.97 0 1 0 -11.94 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M716.65 496.21L767.88 496.21L767.88 547.44L716.65 547.44z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M902.26 508.93a24.31 24.31 0 1 0 17.97-45.18z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1240.43 451.5L1256.69 451.5L1256.69 482.36L1240.43 482.36z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1220.93-4.2a33.22 33.22 0 1 0 32.37 58.02z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M100.74 332.67 a47.11 47.11 0 1 0 94.22 0 a47.11 47.11 0 1 0 -94.22 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1114.98 232.93 a23.17 23.17 0 1 0 46.34 0 a23.17 23.17 0 1 0 -46.34 0z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M809.17 423.66 a13.56 13.56 0 1 0 27.12 0 a13.56 13.56 0 1 0 -27.12 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1180.48 124.95a38.34 38.34 0 1 0-2.07-76.65z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M122.37 506.13 a37.12 37.12 0 1 0 74.24 0 a37.12 37.12 0 1 0 -74.24 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M196.39 474.85L226.03 474.85L226.03 504.49L196.39 504.49z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1426' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

    }

}

@media only screen and (max-width: 1000px) {
    .bgc {
        height: 600px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1426' height='560' preserveAspectRatio='none' viewBox='0 0 1426 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3crect width='1426' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1179.05 421.44 a24.15 24.15 0 1 0 48.3 0 a24.15 24.15 0 1 0 -48.3 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1099.3 163.46L1148.71 163.46L1148.71 212.87L1099.3 212.87z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1028.05 486.59 a42.58 42.58 0 1 0 85.16 0 a42.58 42.58 0 1 0 -85.16 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M407.33 513.28a36.07 36.07 0 1 0-48.21-53.67z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M432.35 345.47 a53.76 53.76 0 1 0 107.52 0 a53.76 53.76 0 1 0 -107.52 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1231.92 370.34L1249.77 370.34L1249.77 388.19L1231.92 388.19z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M197.98 22.11a19.58 19.58 0 1 0 17.84-34.86z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M588.97 206.38 a2.07 2.07 0 1 0 4.14 0 a2.07 2.07 0 1 0 -4.14 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1234.59 149.72L1261.48 149.72L1261.48 172.19L1234.59 172.19z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1096.44 345.57a6.12 6.12 0 1 0-11.19 4.94z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M212.99 54.46a33.83 33.83 0 1 0-54.39-40.24z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1030.16 18.5L1059.24 18.5L1059.24 24.09L1030.16 24.09z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1156.43 385.02L1201.18 385.02L1201.18 408.64L1156.43 408.64z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M116.27 305.97L168.96 305.97L168.96 358.66L116.27 358.66z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M410.04 285.26L410.94 285.26L410.94 286.16L410.04 286.16z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M558.93 189.37L560.05 189.37L560.05 207.88L558.93 207.88z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M180.11 31L230.03 31L230.03 51.66L180.11 51.66z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M703.17 493.46L746.03 493.46L746.03 508.24L703.17 508.24z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1349.73 164.34L1352.23 164.34L1352.23 172.34L1349.73 172.34z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M49.07 469.55a0.22 0.22 0 1 0 0.44 0.02z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M412.52 534.97L426.48 534.97L426.48 548.93L412.52 548.93z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M717.05 402.08 a5.97 5.97 0 1 0 11.94 0 a5.97 5.97 0 1 0 -11.94 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M716.65 496.21L767.88 496.21L767.88 547.44L716.65 547.44z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M902.26 508.93a24.31 24.31 0 1 0 17.97-45.18z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1240.43 451.5L1256.69 451.5L1256.69 482.36L1240.43 482.36z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1220.93-4.2a33.22 33.22 0 1 0 32.37 58.02z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M100.74 332.67 a47.11 47.11 0 1 0 94.22 0 a47.11 47.11 0 1 0 -94.22 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1114.98 232.93 a23.17 23.17 0 1 0 46.34 0 a23.17 23.17 0 1 0 -46.34 0z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M809.17 423.66 a13.56 13.56 0 1 0 27.12 0 a13.56 13.56 0 1 0 -27.12 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1180.48 124.95a38.34 38.34 0 1 0-2.07-76.65z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M122.37 506.13 a37.12 37.12 0 1 0 74.24 0 a37.12 37.12 0 1 0 -74.24 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M196.39 474.85L226.03 474.85L226.03 504.49L196.39 504.49z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1426' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }


    .page1 {
        background-color: #d8d8d8;
        height: 800px;
    }

    .page1dark {
        height: 800px;
        background-color: #212121;


    }

    .spicial {
        margin-top: 250px;
    }

}


@media only screen and (max-width: 800px) {

    .page1 {
        background-color: #d8d8d8;
        height: 800px;
    }

    .page1dark {
        height: 800px;
        background-color: #212121;


    }

    .spicial {
        margin-top: 250px;
    }

    .bgc {
        height: 400px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1426' height='560' preserveAspectRatio='none' viewBox='0 0 1426 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3crect width='1426' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1179.05 421.44 a24.15 24.15 0 1 0 48.3 0 a24.15 24.15 0 1 0 -48.3 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1099.3 163.46L1148.71 163.46L1148.71 212.87L1099.3 212.87z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1028.05 486.59 a42.58 42.58 0 1 0 85.16 0 a42.58 42.58 0 1 0 -85.16 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M407.33 513.28a36.07 36.07 0 1 0-48.21-53.67z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M432.35 345.47 a53.76 53.76 0 1 0 107.52 0 a53.76 53.76 0 1 0 -107.52 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1231.92 370.34L1249.77 370.34L1249.77 388.19L1231.92 388.19z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M197.98 22.11a19.58 19.58 0 1 0 17.84-34.86z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M588.97 206.38 a2.07 2.07 0 1 0 4.14 0 a2.07 2.07 0 1 0 -4.14 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1234.59 149.72L1261.48 149.72L1261.48 172.19L1234.59 172.19z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1096.44 345.57a6.12 6.12 0 1 0-11.19 4.94z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M212.99 54.46a33.83 33.83 0 1 0-54.39-40.24z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1030.16 18.5L1059.24 18.5L1059.24 24.09L1030.16 24.09z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1156.43 385.02L1201.18 385.02L1201.18 408.64L1156.43 408.64z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M116.27 305.97L168.96 305.97L168.96 358.66L116.27 358.66z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M410.04 285.26L410.94 285.26L410.94 286.16L410.04 286.16z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M558.93 189.37L560.05 189.37L560.05 207.88L558.93 207.88z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M180.11 31L230.03 31L230.03 51.66L180.11 51.66z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M703.17 493.46L746.03 493.46L746.03 508.24L703.17 508.24z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1349.73 164.34L1352.23 164.34L1352.23 172.34L1349.73 172.34z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M49.07 469.55a0.22 0.22 0 1 0 0.44 0.02z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M412.52 534.97L426.48 534.97L426.48 548.93L412.52 548.93z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M717.05 402.08 a5.97 5.97 0 1 0 11.94 0 a5.97 5.97 0 1 0 -11.94 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M716.65 496.21L767.88 496.21L767.88 547.44L716.65 547.44z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M902.26 508.93a24.31 24.31 0 1 0 17.97-45.18z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1240.43 451.5L1256.69 451.5L1256.69 482.36L1240.43 482.36z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1220.93-4.2a33.22 33.22 0 1 0 32.37 58.02z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M100.74 332.67 a47.11 47.11 0 1 0 94.22 0 a47.11 47.11 0 1 0 -94.22 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1114.98 232.93 a23.17 23.17 0 1 0 46.34 0 a23.17 23.17 0 1 0 -46.34 0z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M809.17 423.66 a13.56 13.56 0 1 0 27.12 0 a13.56 13.56 0 1 0 -27.12 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1180.48 124.95a38.34 38.34 0 1 0-2.07-76.65z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M122.37 506.13 a37.12 37.12 0 1 0 74.24 0 a37.12 37.12 0 1 0 -74.24 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M196.39 474.85L226.03 474.85L226.03 504.49L196.39 504.49z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1426' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

    }
}

/* /////////////////////page2////////////////////// */
.page2dark {
    background-color: #212121;
    color: #d8d8d8;
}

/* .page2{
  background-color: #ff0000;

} */

.page2dark .cardd {
    width: 190px;
    /* height: 100px; */
    border-radius: 20px;
    background: #212121;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    color: #d8d8d8;

}

.cardd {
    width: 190px;
    /* height: 100px; */
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.cardd:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

/* /////////////////dark mode/////////////////////:::: */
#checkbox {
    display: none;
}

.switch {
    position: relative;
    width: 26px;
    height: 26px;
    background-color: rgb(99, 99, 99);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(126, 126, 126);
    box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}

.powersign {
    position: relative;
    width: 90%;
    height: 90%;
    border: 4px solid rgb(48, 48, 48);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.powersign::before {
    content: "";
    width: 8px;
    height: 100%;
    background-color: rgb(99, 99, 99);
    position: absolute;
    top: -60%;
    z-index: 2;
}

.powersign::after {
    content: "";
    width: 4px;
    height: 100%;
    background-color: rgb(48, 48, 48);
    position: absolute;
    top: -60%;
    z-index: 3;
}

#checkbox:checked+.switch .powersign {
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(151, 243, 255),
        0px 0px 5px rgb(151, 243, 255) inset;
}

#checkbox:checked+.switch .powersign::after {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(151, 243, 255);
}

#checkbox:checked+.switch {
    box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
        0px 0px 2px rgb(151, 243, 255) inset,
        0px 0px 10px rgb(151, 243, 255) inset,
        0px 0px 40px rgb(151, 243, 255),
        0px 0px 100px rgb(151, 243, 255),
        0px 0px 5px rgb(151, 243, 255);
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(146, 180, 184);
}

#checkbox:checked+.switch .powersign::before {
    background-color: rgb(146, 180, 184);
}


.bgdark {
    background: #212121;
    color: #d8d8d8;


}

/* ////////////////////Categories//////////////////////////:::: */
.bgbg {
    background-color: #d8d8d8;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
}


.tracking-in-expand {
    -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
        letter-spacing: 1cm;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
        letter-spacing: 1cm;
    }
}

.item {
    width: 32%;
    margin-left: 5px;
    background-color: #e5e5e5;


}

.item:hover {
    background-color: #212121;
    transition: all 1s;
    border: double #e5e5e5 5px;
}

.item:hover img {
    transition: all 1s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.itemdark {
    width: 32%;
    margin-left: 5px;
    background-color: #212121;


}

.itemdark:hover {
    background-color: #e5e5e5;
    transition: all 1s;
    border: double #212121 5px;
}




/*
.fitimg div img{
    width: 85%;
    height: 85%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode:hard-light;
    mix-blend-mode: color-burn;
    box-shadow: 5px 5px 5px 5px #212121;
     filter: drop-shadow(3px 0 0.5rem #212121);
    -webkit-filter: drop-shadow(3px 3px 3px 3px #e5e5e5);
} */

.bgc {
    height: 750px;
    /* background-size: cover; */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1426' height='560' preserveAspectRatio='none' viewBox='0 0 1426 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3crect width='1426' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1179.05 421.44 a24.15 24.15 0 1 0 48.3 0 a24.15 24.15 0 1 0 -48.3 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1099.3 163.46L1148.71 163.46L1148.71 212.87L1099.3 212.87z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1028.05 486.59 a42.58 42.58 0 1 0 85.16 0 a42.58 42.58 0 1 0 -85.16 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M407.33 513.28a36.07 36.07 0 1 0-48.21-53.67z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M432.35 345.47 a53.76 53.76 0 1 0 107.52 0 a53.76 53.76 0 1 0 -107.52 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1231.92 370.34L1249.77 370.34L1249.77 388.19L1231.92 388.19z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M197.98 22.11a19.58 19.58 0 1 0 17.84-34.86z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M588.97 206.38 a2.07 2.07 0 1 0 4.14 0 a2.07 2.07 0 1 0 -4.14 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1234.59 149.72L1261.48 149.72L1261.48 172.19L1234.59 172.19z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1096.44 345.57a6.12 6.12 0 1 0-11.19 4.94z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M212.99 54.46a33.83 33.83 0 1 0-54.39-40.24z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1030.16 18.5L1059.24 18.5L1059.24 24.09L1030.16 24.09z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1156.43 385.02L1201.18 385.02L1201.18 408.64L1156.43 408.64z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M116.27 305.97L168.96 305.97L168.96 358.66L116.27 358.66z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M410.04 285.26L410.94 285.26L410.94 286.16L410.04 286.16z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M558.93 189.37L560.05 189.37L560.05 207.88L558.93 207.88z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M180.11 31L230.03 31L230.03 51.66L180.11 51.66z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M703.17 493.46L746.03 493.46L746.03 508.24L703.17 508.24z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1349.73 164.34L1352.23 164.34L1352.23 172.34L1349.73 172.34z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M49.07 469.55a0.22 0.22 0 1 0 0.44 0.02z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M412.52 534.97L426.48 534.97L426.48 548.93L412.52 548.93z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M717.05 402.08 a5.97 5.97 0 1 0 11.94 0 a5.97 5.97 0 1 0 -11.94 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M716.65 496.21L767.88 496.21L767.88 547.44L716.65 547.44z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M902.26 508.93a24.31 24.31 0 1 0 17.97-45.18z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1240.43 451.5L1256.69 451.5L1256.69 482.36L1240.43 482.36z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1220.93-4.2a33.22 33.22 0 1 0 32.37 58.02z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M100.74 332.67 a47.11 47.11 0 1 0 94.22 0 a47.11 47.11 0 1 0 -94.22 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1114.98 232.93 a23.17 23.17 0 1 0 46.34 0 a23.17 23.17 0 1 0 -46.34 0z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M809.17 423.66 a13.56 13.56 0 1 0 27.12 0 a13.56 13.56 0 1 0 -27.12 0z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1180.48 124.95a38.34 38.34 0 1 0-2.07-76.65z' stroke='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M122.37 506.13 a37.12 37.12 0 1 0 74.24 0 a37.12 37.12 0 1 0 -74.24 0z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M196.39 474.85L226.03 474.85L226.03 504.49L196.39 504.49z' stroke='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1426' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.bgcdark {
    height: 750px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c381.555C78.536%2c389.042%2c165.159%2c402.895%2c230.796%2c359.126C296.249%2c315.48%2c305.566%2c226.018%2c339.608%2c155.094C374.439%2c82.525%2c440.703%2c17.867%2c433.053%2c-62.264C425.348%2c-142.969%2c365.674%2c-212.425%2c299.983%2c-259.937C240.743%2c-302.783%2c163.722%2c-302.812%2c90.937%2c-309.703C30.476%2c-315.427%2c-27.884%2c-310.132%2c-87.084%2c-296.582C-149.866%2c-282.212%2c-213.932%2c-269.367%2c-263.732%2c-228.525C-318.967%2c-183.225%2c-363.727%2c-124.007%2c-381.784%2c-54.892C-400.969%2c18.542%2c-399.918%2c99.208%2c-367.252%2c167.718C-334.81%2c235.758%2c-269.288%2c279.732%2c-204.148%2c317.661C-141.255%2c354.281%2c-72.45%2c374.648%2c0%2c381.555' fill='%231a1a1a'%3e%3c/path%3e%3cpath d='M1440 1122.8200000000002C1557.603 1133.0929999999998 1681.921 1154.0529999999999 1786.135 1098.596 1893.338 1041.549 1959.3429999999998 930.675 2009.181 819.9359999999999 2058.822 709.636 2115.745 581.19 2069.249 469.528 2022.894 358.20500000000004 1880.153 331.719 1778.7269999999999 266.492 1707.492 220.68099999999998 1639.995 177.202 1562.294 143.503 1473.493 104.99000000000001 1387.493 40.69200000000001 1291.811 55.315 1192.995 70.41699999999997 1105.909 139.147 1049.741 221.83800000000002 996.2660000000001 300.564 998.9100000000001 400.72 992.6859999999999 495.68600000000004 986.914 583.758 993.217 668.59 1014.854 754.158 1040.681 856.2950000000001 1051.066 972.3199999999999 1130.661 1041.34 1212.886 1112.641 1331.579 1113.3490000000002 1440 1122.8200000000002' fill='%23282828'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/* ////////////////button contact/////////////////:: */

.buttonnn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}

.buttonnn:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.buttonnn:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.buttonnn span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.buttonnn:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

/* //////////////////form ////////////////////: */
.input:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: 1s;
    transition-property: box-shadow;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

/* ///////////////////////menu///////////////////// */
.canvassDark {
    background: #212121;
    color: #e5e5e5;
}

.canvass {
    background: #e5e5e5;
    color: #212121;
}

.itemms {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    cursor: pointer;


}

.itemms:hover {
    background-color: #212121;
    color: #e5e5e5;

}

.itemms:hover .link {
    color: #e5e5e5;
}

.itemms:hover i {
    color: #e5e5e5;
}

.itemms i {
    color: #212121;

}

.itemmsDark {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    cursor: pointer;
}

.itemmsDark:hover {
    background-color: #e5e5e5;
    color: #212121;

}

.itemmsDark:hover .link {
    color: #212121;
}

/* ///////////////about ////////////////// */
.bgca {
    height: 750px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='750' preserveAspectRatio='none' viewBox='0 0 1440 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2600%26quot%3b)' fill='none'%3e%3crect width='1440' height='700' x='0' y='0' fill='url(%23SvgjsRadialGradient2601)'%3e%3c/rect%3e%3cpath d='M17 700L717 0L1335 0L635 700z' fill='url(%23SvgjsLinearGradient2602)'%3e%3c/path%3e%3cpath d='M556.2 700L1256.2 0L1767.7 0L1067.7 700z' fill='url(%23SvgjsLinearGradient2602)'%3e%3c/path%3e%3cpath d='M1377 700L677 0L111.5 0L811.5 700z' fill='url(%23SvgjsLinearGradient2603)'%3e%3c/path%3e%3cpath d='M912.8 700L212.79999999999995 0L-384.20000000000005 0L315.79999999999995 700z' fill='url(%23SvgjsLinearGradient2603)'%3e%3c/path%3e%3cpath d='M1069.2120020502193 700L1440 329.2120020502194L1440 700z' fill='url(%23SvgjsLinearGradient2602)'%3e%3c/path%3e%3cpath d='M0 700L370.7879979497806 700L 0 329.2120020502194z' fill='url(%23SvgjsLinearGradient2603)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2600'%3e%3crect width='1440' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='100%25' r='1004.19' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2601'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient2602'%3e%3cstop stop-color='rgba(15%2c 65%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 65%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient2603'%3e%3cstop stop-color='rgba(15%2c 65%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 65%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.bgca h1 {
    color: #e5e5e5;
    font-size: 60px;
    font-family: cursive;
    font-weight: bolder;
    background: -webkit-linear-gradient(#e5e5e5, #818181);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bgca p {
    color: #e5e5e5;
    font-size: 20px;

    background: -webkit-linear-gradient(#e5e5e5, #9b9999, #e5e5e5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bgca p::first-letter{
    /* color: #831515; */
    font-size: 60px;

    background: -webkit-linear-gradient(#e60c0c, #9b9999, #501ba5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bgcaDark {
    height: 750px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='750' preserveAspectRatio='none' viewBox='0 0 1440 750'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1087%26quot%3b)' fill='none'%3e%3crect width='1440' height='750' x='0' y='0' fill='rgba(6%2c 6%2c 6%2c 1)'%3e%3c/rect%3e%3cpath d='M -848.3909649646345%2c674 C -704.39%2c579.2 -416.39%2c217.8 -128.39096496463446%2c200 C 159.61%2c182.2 303.61%2c579.2 591.6090350353655%2c585 C 879.61%2c590.8 1141.93%2c220.8 1311.6090350353657%2c229 C 1481.29%2c237.2 1414.32%2c546.6 1440%2c626' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -506.43728998309086%2c374 C -362.44%2c397.2 -74.44%2c547.4 213.56271001690916%2c490 C 501.56%2c432.6 645.56%2c64.4 933.5627100169091%2c87 C 1221.56%2c109.6 1552.28%2c577.4 1653.5627100169093%2c603 C 1754.85%2c628.6 1482.71%2c292.6 1440%2c215' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1312.2871190844266%2c731 C -1168.29%2c614 -880.29%2c164.4 -592.2871190844265%2c146 C -304.29%2c127.6 -160.29%2c623.2 127.71288091557346%2c639 C 415.71%2c654.8 585.26%2c218.2 847.7128809155735%2c225 C 1110.17%2c231.8 1321.54%2c583.4 1440%2c673' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -991.7395815554692%2c398 C -847.74%2c386.6 -559.74%2c343.8 -271.73958155546916%2c341 C 16.26%2c338.2 160.26%2c421.2 448.26041844453084%2c384 C 736.26%2c346.8 969.91%2c136 1168.2604184445308%2c155 C 1366.61%2c174 1385.65%2c414.2 1440%2c479' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -836.8106514256745%2c359 C -692.81%2c407.2 -404.81%2c640.2 -116.81065142567446%2c600 C 171.19%2c559.8 315.19%2c185.4 603.1893485743255%2c158 C 891.19%2c130.6 1155.83%2c437.6 1323.1893485743255%2c463 C 1490.55%2c488.4 1416.64%2c320.6 1440%2c285' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1405.465687877267%2c515 C -1261.47%2c419.8 -973.47%2c1.8 -685.4656878772672%2c39 C -397.47%2c76.2 -253.47%2c650.4 34.534312122732786%2c701 C 322.53%2c751.6 473.44%2c298.2 754.5343121227328%2c292 C 1035.63%2c285.8 1302.91%2c594.4 1440%2c670' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1394.0113384045599%2c502 C -1250.01%2c444.2 -962.01%2c180.6 -674.0113384045599%2c213 C -386.01%2c245.4 -242.01%2c649 45.988661595440135%2c664 C 333.99%2c679 487.19%2c333.8 765.9886615954401%2c288 C 1044.79%2c242.2 1305.2%2c405.6 1440%2c435' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -6.8918156637794254%2c387 C 137.11%2c327.4 425.11%2c31 713.1081843362206%2c89 C 1001.11%2c147 1145.11%2c655.4 1433.1081843362206%2c677 C 1721.11%2c698.6 2151.73%2c246.8 2153.108184336221%2c197 C 2154.49%2c147.2 1582.62%2c381.8 1440%2c428' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1358.6055686379073%2c124 C -1214.61%2c234.2 -926.61%2c639.6 -638.6055686379074%2c675 C -350.61%2c710.4 -206.61%2c307.6 81.39443136209263%2c301 C 369.39%2c294.4 529.67%2c628 801.3944313620926%2c642 C 1073.12%2c656 1312.28%2c425.2 1440%2c371' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -818.3098964131514%2c663 C -674.31%2c562.4 -386.31%2c195.2 -98.30989641315139%2c160 C 189.69%2c124.8 333.69%2c503.6 621.6901035868486%2c487 C 909.69%2c470.4 1178.03%2c82.6 1341.6901035868486%2c77 C 1505.35%2c71.4 1420.34%2c382.6 1440%2c459' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1087'%3e%3crect width='1440' height='750' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}

.bgcaDark h1 {
    color: #e5e5e5;
    font-size: 60px;
    font-family: cursive;
    font-weight: bolder;
    background: -webkit-linear-gradient(#e5e5e5, #818181);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bgcaDark p {
    color: #e5e5e5;
    font-size: 20px;

    background: -webkit-linear-gradient(#e5e5e5, #9b9999, #e5e5e5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bgcaDark p::first-letter{
    /* color: #831515; */
    font-size: 60px;

    background: -webkit-linear-gradient(#e60c0c, #9b9999, #501ba5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
