.sidebar{
    background: #212121;
    height: 100vh;
    position: sticky;
    top: 0;
}
@media only screen and (max-width: 990px) {
    .sidebar{
        background: #212121;
        height: 500px;
        z-index: 1000;
        position: relative;
    }
  }
.womenClothes{
    background: #e5e5e5;
}
.womenClothes2{
    background: #ffffff;
}

.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: 2px #212121 solid;
    border: 2px #e5e5e5 solid;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

  .btn41-43:hover{
    background-color: #212121;
    color: #e5e5e5;
    outline: 2px #212121 solid;
    border: 2px #e5e5e5 solid;
    box-shadow: 5px 5px 10px  #212121;
  }
  .link{
    color: aliceblue;
  }
/* ////////////////////////////// */
.form_add{
    background-color: #e5e5e5;

}
.form_add:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 0, 0);
    border: 2px rgb(0, 255, 255) solid;
    box-shadow: -3px -3px 15px rgb(20, 20, 20);
    border-radius: 10px;
    transition: 0;
    transition-property: box-shadow;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
}

table{
    width: 100%;
    table-layout: fixed;
}
