:root {

    --primary-color: #f3f3f0;
    --bg-color: #382a1f;
    --2-color: #af9e79;

}


.slideDark{
    background-color: var(--bg-color);
}

.slide{
    background-color: var(--primary-color);
}
.minititle{
    font-size: 74px;
    font-style: italic;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--2-color);
}
.minipara{
    font-size: 30px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
