.vl {
    border-left: 6px solid green;
    height: 500px;
    margin: 5px;
  }
  .containerr{
    background-color: #e5e5e5;
  }

  @media only screen and (max-width: 990px) {
    .vl{
        display: none;
        height: 50px;
    }
  }
  .product-item {
    transition: .5s;
    box-shadow: 0 0 1px .1px #585858;
  }

  .product-item:hover {
    box-shadow: 0 0 5px .1px #585858;
  }

  .product-item .product-img img {
    transition: .5s;
    width: 50px;
  }

  .product-item:hover .product-img img {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.img-fluid {
width: 32%;
aspect-ratio: 2/2;
object-fit: contain;
backdrop-filter: blur(12px);

}
h1{
    text-align: center;
}
.contt{
    background-color: #e5e5e5;

}

/* //////////////////////////////// */

   .buttone {
    background: #e5e5e5;
    border: 1px #e5e5e5 solid;
    outline: 1px #212121 solid;
    padding: 10px 120px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    transform: skew(-21deg);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  span {
    transform: skew(21deg);
  }

  .buttone::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    border-radius: 10px;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    border: 1px #e5e5e5 solid;
    outline: 1px #212121 solid;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}

  .buttone:hover {
    color: #e5e5e5;
  }

  .buttone:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

/* /////////////////////////////// */
.button1 {

    height: 2.3em;

    background: #212121;
    color: #e5e5e5;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }

   .button1:hover {
    color: #212121;
    border: #212121 1px solid;
   }

   .button1:after {
    content: "";
    background: #e5e5e5;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }

   .button1:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }
/* //////////////////////// */
   .button2 {

    height: 2.3em;

    background: #e5e5e5;
    color: #212121;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: #212121 1px solid;
   }

   .button2:hover {
    color: #e5e5e5;

   }

   .button2:after {
    content: "";
    background: #212121;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }

   .button2:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }


   /* //////////////////////////// */
   .form_add:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 0, 0);
    border: 2px rgb(0, 255, 255) solid;
    box-shadow: -3px -3px 15px rgb(20, 20, 20);
    border-radius: 10px;
    transition: 0;
    transition-property: box-shadow;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
}

.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: 2px #212121 solid;
    border: 2px #e5e5e5 solid;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

  .btn41-43:hover{
    background-color: #212121;
    color: #e5e5e5;
    outline: 2px #212121 solid;
    border: 2px #e5e5e5 solid;
    box-shadow: 5px 5px 10px  #212121;
  }
