.vl {
    border-left: 6px solid green;
    height: 500px;
    margin: 5px;
  }

  @media only screen and (max-width: 990px) {
    .vl{
        display: none;
        height: 50px;
    }
  }
  .product-item {
    transition: .5s;
    box-shadow: 0 0 1px .1px #585858;
  }

  .product-item:hover {
    box-shadow: 0 0 5px .1px #585858;
  }

  .product-item .product-img img {
    transition: .5s;
    width: 50px;
  }

  .product-item:hover .product-img img {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

